<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleship</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h2 id="player-turn"></h2>
      </header>
      <main>
        <div id="player-container">
          <h2>Player</h2>
          <div id="player-board" class="board-container"></div>
        </div>
        <div id="boards-divider"></div>
        <div id="computer-container">
          <h2>Computer</h2>
          <div id="computer-board" class="board-container"></div>
        </div>
      </main>
      <div id="message-container" style="display: none;">
        <div id="message-overlay"></div>
        <div id="message">
          <h2 id="message-title"></h2>
          <div id="message-text"></div>
          <div id="message-actions">
            <button id="message-action">--</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>