<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleship</title>
  </head>
  <body>
    <div id="container" data-game-started="false">
      <header>
        <h2 id="player-turn"></h2>
      </header>
      <main>
        <div id="player-container">
          <h2>Player</h2>
          <div id="player-board" class="board-container"></div>
        </div>
        <div id="boards-divider"></div>
        <div id="computer-container">
          <h2>Computer</h2>
          <div id="computer-board" class="board-container"></div>
        </div>
      </main>
      <div id="ships-container" data-is-horizontal="true">
        <div id="ships-container-header">
          <h2 id="game-start-instructions">Place all of your ships on the board to start the game</h2>
          <button id="orientation-button" class="button">Vertical (ctrl)</button>
        </div>
        <div class="ship-container">
          <div id="ship-1" class="ship ship-1" data-index="1" data-length="2" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-2" class="ship ship-2" data-index="2" data-length="3" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-3" class="ship ship-3" data-index="3" data-length="3" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-4" class="ship ship-4" data-index="4" data-length="4" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
            <div class="ship-section ship-section-4"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-5" class="ship ship-5" data-index="5" data-length="5" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
            <div class="ship-section ship-section-4"></div>
            <div class="ship-section ship-section-5"></div>
          </div>
        </div>
        <button id="start-button" class="button">Start (enter)</button>
      </div>
      <div id="message-container" style="display: none">
        <div id="message-overlay"></div>
        <div id="message">
          <h2 id="message-title"></h2>
          <div id="message-text"></div>
          <div id="message-actions">
            <button id="message-action">--</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
