<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleship</title>
  </head>
  <body>
    <div id="container" data-game-started="false" data-gamemode="computer">
      <header>
        <h2 id="player-turn">---</h2>
      </header>
      <main>
        <div id="player-1-container">
          <h2 id="player-1-name">Player - 1</h2>
          <div id="player-1-board" class="board-container"></div>
        </div>
        <div id="boards-divider"></div>
        <div id="player-2-container">
          <h2 id="player-2-name">Player - 2</h2>
          <div id="player-2-board" class="board-container"></div>
        </div>
      </main>
      <div id="player-1-ships-container" class="ships-container" data-is-horizontal="true" style="display: none">
        <div id="player-1-ships-container-header">
          <h2 id="player-1-game-start-instructions" class="game-start-instructions">Place all of your ships on the board to start the game</h2>
          <button class="orientation-button button">Vertical (ctrl)</button>
        </div>
        <div class="ship-container">
          <div id="ship-1" class="ship ship-1" data-index="1" data-length="2" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-2" class="ship ship-2" data-index="2" data-length="3" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-3" class="ship ship-3" data-index="3" data-length="3" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-4" class="ship ship-4" data-index="4" data-length="4" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
            <div class="ship-section ship-section-4"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-5" class="ship ship-5" data-index="5" data-length="5" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
            <div class="ship-section ship-section-4"></div>
            <div class="ship-section ship-section-5"></div>
          </div>
        </div>
        <div class="ships-container-actions">
          <button id="player-1-ships-container-back-button" class="button">Back</button>
          <button id="player-1-ships-container-continue-button" class="button">Continue</button>
        </div>
      </div>
      <div id="player-2-ships-container" class="ships-container" data-is-horizontal="true" style="display: none">
        <div id="player-2-ships-container-header">
          <h2 id="player-2-game-start-instructions" class="game-start-instructions">Place all of your ships on the board to start the game</h2>
          <button class="orientation-button button">Vertical (ctrl)</button>
        </div>
        <div class="ship-container">
          <div id="ship-1" class="ship ship-1" data-index="1" data-length="2" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-2" class="ship ship-2" data-index="2" data-length="3" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-3" class="ship ship-3" data-index="3" data-length="3" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-4" class="ship ship-4" data-index="4" data-length="4" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
            <div class="ship-section ship-section-4"></div>
          </div>
        </div>
        <div class="ship-container">
          <div id="ship-5" class="ship ship-5" data-index="5" data-length="5" draggable="true">
            <div class="ship-section ship-section-1"></div>
            <div class="ship-section ship-section-2"></div>
            <div class="ship-section ship-section-3"></div>
            <div class="ship-section ship-section-4"></div>
            <div class="ship-section ship-section-5"></div>
          </div>
        </div>
        <div class="ships-container-actions">
          <button id="player-2-ships-container-back-button" class="button">Back</button>
          <button id="player-2-ships-container-start-button" class="button">Start</button>
        </div>
      </div>
      <div id="message-container" style="display: none">
        <div id="message-overlay"></div>
        <div id="message">
          <h2 id="message-title"></h2>
          <div id="message-text"></div>
          <div id="message-actions">
            <button id="message-action">--</button>
          </div>
        </div>
      </div>
      <div id="overlay" class="visible"></div>
      <div id="game-mode-selection-container" class="visible">
        <div id="game-mode-selection">
          <h2 id="game-mode-selection-title-text">Select a Game Mode</h2>
          <div id="game-modes">
            <button id="player-computer">Computer</button>
            <button id="player-player">Pass-and-Play</button>
          </div>
        </div>
      </div>
      <div id="player-input-container" data-is-player-mode="false" style="display: none">
        <div id="player-input">
          <button id="player-input-back-button">Back</button>
          <div id="players">
            <div id="player1-input">
              <h2 id="player1-input-title">Enter Player - 1's Name</h2>
              <div id="player1-input-name">
                <label id="player1-input-name-label" for="player1-input-name-text">Name:</label>
                <input type="text" id="player1-input-name-text" maxlength="23" />
              </div>
            </div>
            <div id="player2-input">
              <h2 id="player2-input-title">Enter Player - 2's Name</h2>
              <div id="player2-input-name">
                <label id="player2-input-name-label" for="player2-input-name-text">Name:</label>
                <input type="text" id="player2-input-name-text" maxlength="23" />
              </div>
            </div>
          </div>
          <button id="player-input-confirm-button">Confirm</button>
        </div>
      </div>
      <div id="notification-container">
        <p id="notification-message" style="display: none"></p>
      </div>
    </div>
  </body>
</html>
