*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container > main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#boards-divider {
  height: 100%;
  width: 0.1rem;
  background-color: black;
}
h2 {
  margin-bottom: 0.4rem;
  text-align: center;
}
.board-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 50dvh;
  aspect-ratio: 1/1;
  border: 2px solid black;
}
.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: default;
}
#player-1-board {
  pointer-events: visible;
}
#player-2-board > .cell {
  background-color: rgba(0, 0, 0, 0.1);
}
#player-2-board > .cell:not(.shot) {
  cursor: pointer;
}
#player-2-board > .cell:not(.shot):hover {
  border-color: skyblue;
  background-color: rgb(135, 206, 235, 0.5);
}
.board-container > .cell.shot::before,
.board-container > .cell.shot::after {
  opacity: 1;
}
#container > main .board-container > .cell.shot.ship {
  background-color: rgba(255, 0, 0, 0.5);
}

.cell::before,
.cell::after {
  position: absolute;
  content: "";
  height: 90%;
  width: 10%;
  background-color: red;
  border-radius: 0.4rem;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease;
}
.cell::before {
  transform: rotate(45deg);
}
.cell::after {
  transform: rotate(-45deg);
}

.cell.ship-1,
.ship-container > .ship-1 {
  background-color: #48cae4;
}
.cell.ship-2,
.ship-container > .ship-2 {
  background-color: #00b4d8;
}
.cell.ship-3,
.ship-container > .ship-3 {
  background-color: #0096c7;
}
.cell.ship-4,
.ship-container > .ship-4 {
  background-color: #0077b6;
}
.cell.ship-5,
.ship-container > .ship-5 {
  background-color: #023e8a;
}

/* Ships Container */
#ships-container {
  position: fixed;
  right: 10%;
  bottom: 10%;
  height: 70dvh;
  width: 60dvh;
  border: 2px solid white;
  border-radius: 0.3rem;
  background-color: rgba(50, 50, 50, 1);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 0 1rem;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
  gap: 0.4rem;
  user-select: none;
  z-index: 10;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#ships-container:not(.visible) {
  opacity: 0;
  transform: translateX(200%);
}
#ships-container.vertical {
  grid-template-rows: none;
  grid-template-columns: repeat(5, 1fr);
}
#ships-container.vertical > .ship-container > .ship {
  height: fit-content;
  flex-direction: column;
  max-height: unset;
  max-width: 2rem;
}
#ships-container.vertical > .ship-container > .ship > .ship-section {
  height: 2rem;
  flex: none;
}
#ships-container > .ship-container {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#ships-container > .ship-container > .ship {
  height: 100%;
  display: flex;
  max-height: 2rem;
  cursor: grab;
  transition: opacity 0.3s ease;
}
#ships-container > .ship-container > .ship > .ship-section {
  border: 2px solid white;
  flex: 1;
  width: 2rem;
}
#start-button,
#orientation-button {
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#container.started #start-button,
#container.started #orientation-button {
  pointer-events: none;
}
#ships-container-header {
  top: 0;
  position: absolute;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
#game-start-instructions {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.4rem;
  border-radius: 0.2rem;
  width: 23rem;
  height: 4.5rem;
}
#game-start-instructions.error {
  color: skyblue;
}
#orientation-button {
  width: fit-content;
}
#start-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
}
#start-button:hover,
#orientation-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#start-button:active,
#orientation-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#ships-container > .ship-container > .ship.placed {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

/* Message */
#message-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 50;
  pointer-events: none;
  user-select: none;
}
#message-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.1rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
#message {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  height: 50dvh;
  width: 70dvh;
  border: 2px solid rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(0.1rem);
  padding: 0 1rem;
  text-align: center;
  border-radius: 0.4rem;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-150%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 55;
}
#message-title {
  font-size: 2rem;
  font-weight: 600;
}
#message-text {
  font-size: 1.4rem;
}
#message-actions > * {
  border: 2px solid rgba(255, 255, 255, 0.9);
  outline: none;
  background: none;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  background-color: skyblue;
  border-radius: 0.4rem;
  cursor: pointer;
  color: inherit;
  transition: transform 0.3s ease;
}
#message-actions > *:hover {
  transform: scale(1.04);
}
#message-actions > *:active {
  transition: transform 0.1s ease;
  transform: scale(1.02);
}
#message-container.show > #message-overlay {
  opacity: 1;
  pointer-events: all;
}
#message-container.show > #message {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}

/* Game mode Selection */
#game-mode-selection-container {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#game-mode-selection {
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 0.2rem;
  height: 50dvh;
  width: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0 1rem;
  user-select: none;
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#game-mode-selection-container.visible > #game-mode-selection {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
#game-mode-selection-title-text {
  font-size: 2rem;
}
#game-modes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#player-computer,
#player-player {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1.2rem;
  background-color: rgba(200, 200, 255, 0.3);
  padding: 0.4rem 1.2rem;
  width: 45%;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#player-computer:hover,
#player-player:hover {
  transform: scale(1.05);
}
#player-computer:active,
#player-player:active {
  transform: scale(1.025);
}
#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #1c1c1c;
  backdrop-filter: blur(0.1rem);
  z-index: 1;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#overlay.visible {
  pointer-events: all;
  opacity: 1;
}

/* player Input */

#player-input-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  backdrop-filter: blur(0.1rem);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  user-select: none;
}
#player-input-container.visible {
  opacity: 1;
  pointer-events: all;
}
#player-input {
  border: 2px solid white;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 40%;
  opacity: 0;
  transform: translateY(200%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#player-input-container.visible > #player-input {
  opacity: 1;
  transform: translateY(0);
}
#players {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 5;
}
#players > * {
  padding: 1rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#players > :first-child {
  border-right: 1px solid white;
  border-bottom: 2px solid white;
}
#players > :last-child {
  display: none;
  border-left: 1px solid white;
  border-bottom: 2px solid white;
}
#players > * > h2 {
  font-size: 2rem;
}
#players > * > :last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#players > * > :last-child > label {
  font-size: 1.5rem;
}
#players > * > :last-child > input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
}

#player-input-confirm-button {
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  padding: 0.4rem 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#player-input-confirm-button:hover {
  transform: scale(1.05);
}
#player-input-confirm-button:active {
  transition: transform 0.1s ease;
  transform: scale(1.025);
}
#player-input-container.player > #player-input > #players > #player2-input {
  display: flex;
}
#player-input-container.player > #player-input {
  width: 75%;
}
#player-input-back-button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  padding: 0.4rem 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#player-input-back-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#player-input-back-button:active {
  transition: background-color 0.1s ease;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Notification */
#notification-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  pointer-events: none;
}
#notification-message {
  background-color: hsl(197, 71%, 50%);
  font-size: 1.4rem;
  color: white;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 2px solid white;
  border-left: 8px solid white;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  user-select: none;
  pointer-events: visible;
  opacity: 0;
  transition: opacity 1s ease;
}
#notification-message.visible {
  opacity: 1;
}
