*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container > main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#boards-divider {
  height: 100%;
  width: 0.1rem;
  background-color: black;
}
h2 {
  margin-bottom: 0.4rem;
  text-align: center;
}
.board-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 50dvh;
  aspect-ratio: 1/1;
  border: 2px solid black;
}
.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: default;
}
#player-board {
  pointer-events: none;
}
#computer-board > .cell {
  background-color: rgba(0, 0, 0, 0.1);
}
#computer-board > .cell:not(.shot) {
  cursor: pointer;
}
#computer-board > .cell:not(.shot):hover {
  border-color: skyblue;
  background-color: rgb(135, 206, 235, 0.5);
}
.board-container > .cell.shot::before,
.board-container > .cell.shot::after {
  opacity: 1;
}
#container > main .board-container > .cell.shot.ship {
  background-color: rgba(255, 0, 0, 0.5);
}

.cell::before,
.cell::after {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 0.2rem;
  background-color: red;
  border-radius: 0.4rem;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s ease;
}
.cell::before {
  transform: rotate(45deg);
}
.cell::after {
  transform: rotate(-45deg);
}

.cell.ship1 {
  background-color: #ffa500;
}
.cell.ship2 {
  background-color: #00ffff;
}
.cell.ship3 {
  background-color: #305cde;
}
.cell.ship4 {
  background-color: #32cd32;
}
.cell.ship5 {
  background-color: #ffff00;
}

/* Message */
#message-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 50;
  pointer-events: none;
  user-select: none;
}
#message-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.1rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
#message {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  height: 50dvh;
  width: 70dvh;
  border: 2px solid rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(0.1rem);
  padding: 0 1rem;
  text-align: center;
  border-radius: 0.4rem;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-150%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 55;
}
#message-title {
  font-size: 2rem;
  font-weight: 600;
}
#message-text {
  font-size: 1.4rem;
}
#message-actions > * {
  border: 2px solid rgba(255, 255, 255, 0.9);
  outline: none;
  background: none;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  background-color: skyblue;
  border-radius: 0.4rem;
  cursor: pointer;
  color: inherit;
  transition: transform 0.3s ease;
}
#message-actions > *:hover {
  transform: scale(1.04);
}
#message-actions > *:active {
  transition: transform 0.1s ease;
  transform: scale(1.02);
}
#message-container.show > #message-overlay {
  opacity: 1;
  pointer-events: all;
}
#message-container.show > #message {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}